.shop {
    display: flex;
}
.shop-details {
    width: 82%;
    border-right: 1px solid lightgray;
}
.shop-order-summary {
    padding-left: 10px;
}
.shop-order-summary button{
    width: 14rem;
    background-image: linear-gradient(lightsalmon, #e98270);
    border-radius: 0.6rem;
    border: 1px solid #00000069;
}